doctype html
html(lang="")

    head
        title Data Visualization Assignment 1
        // Bootstrap
        link(
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css"
            rel="stylesheet"
        )
        // RoseChartPage CSS
        link(
            href="./main.css"
            rel="stylesheet"
        )

    body
        div.container.h-100.d-flex.flex-column.align-items-center.justify-content-center

            h1.text-center Data Visualization
            p.text-center
                i Sunit Deshpande

            h3.font-weight-bold.mt-4
                a(
                    href="./roseChartPage.pug"
                ) Rose Chart

            h3.font-weight-bold.mt-4
                a(
                    href="./minardMapPage.pug"
                ) Minard's Map