html, body {
    width: 100%;
    height: 100%;
}

#minardMap {
    width: 100%;
    height: 550px;
}

#tempPlot {
    width: 100%;
    height: 300px;
}

h1 {
    font-family: 'IBM Plex Mono', serif;
    font-weight: normal;
}

p {
    font-family: 'Merienda', serif ;
    font-size: 1.5em;
}