doctype html
html(lang="")
    head
        title Minard Map

        // Fonts
        link(
            href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Merienda&display=swap"
            rel="stylesheet"
        )
        // Bootstrap
        link(
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css"
            rel="stylesheet"
        )

        // Page css
        link(
            href="./minardMapPage.css"
            rel="stylesheet"
        )

    body.container-fluid.mt-2
        div.row
            div.col-12
                h1.text-center Minard Map
                p.my-4 This the visualization of Napoleon's army departing from the Polish-Russian border. A thick band illustrates the size of his army at specific geographic points during their advance and retreat. Army was divided into three group depicted by the color of the band. And the cities are shown by small black dots.
            div.col-12
                svg#minardMap
            div.col-12.mt-5
                h1.text-center Temperature while Return Journey
            div.col-12.mt-1
                svg#tempPlot

// Jquery
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js")
// Bootstrap
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js")
// Page Script
script(src="./minardMapPage.js")
