html, body {
    width: 100%;
    height: 100%;
}

.text-uppercase-underline {
    text-transform: uppercase;
    text-decoration: underline;
}

#chart1 {
    width: 100%;
    height: 500px;
}

#chart2 {
    width: 100%;
    height: 650px;
}

#staticChart {
    width: 100%;
    height: 650px;
}

.chart1-labelArc, .staticChart-labelArc {
    font-size: 0.55em;
}

/*Bootstrap slider tooltip fix*/
.tooltip.in {
    opacity: 1;
}