doctype html

html(lang="")

    head
        title Rose Chart

        // Bootstrap
        link(
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css"
            rel="stylesheet"
        )
        // Bootstrap slider
        link(
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css"
            rel="stylesheet"
        )
        // RoseChartPage CSS
        link(
            href="./roseChartPage.css"
            rel="stylesheet"
        )

body.container

    header.text-uppercase-underline.text-center
        h1 Diagram of the cause of mortality
        h2 in the army in the east

    // Charts
    div.row.mt-4
        // Chart 1
        div.col-6
            p.text-uppercase-underline.text-center April 1855 to March 1856
            svg#chart1

        // Chart 2
        div.col-6
            p.text-uppercase-underline.text-center April 1854 to March 1855
            svg#chart2

    // Controls
    div.row
        // Rotate
        div.col-4.text-center
            p.text-center Rotate
            input#sliderRotate(
                type="text"
                data-slider-min="0"
                data-slider-max="360"
                data-slider-step="1"
                data-slider-value="0"
            )
        // Scale
        div.col-4.text-center
            p.text-center Scale
            input#sliderScale(
                type="text"
                data-slider-min="1"
                data-slider-max="2"
                data-slider-step="0.1"
                data-slider-value="1"
            )
        // Move
        div.col-4.text-center
            p.text-center Move
            div
                button#btnLeft.btn.btn-primary.mx-1 Left
                button#btnDown.btn.btn-primary.mx-1 Down
                button#btnUp.btn.btn-primary.mx-1 Up
                button#btnRight.btn.btn-primary.mx-1 Right

    div.row.mt-4
        div.col-12
            h1.text-center Static Version
            p.text-center Following content is rotate, translated and scaled version of the graph.

    div.row.mb-5
        div.col-12
            svg#staticChart
        div.col-12.text-center
            button#btnAnimate.btn.btn-primary Animate

// Jquery
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js")
// Bootstrap
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js")
// Slider
script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js")

// RoseChartPage Script
script(src="./roseChartPage.js")
